<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container *ngFor="let column of columnsToDisplay">
    <ng-container [matColumnDef]="column.caption">
      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.caption">
        {{ column.caption | translate }}
      </th>
      <td mat-cell *matCellDef="let customer">
        {{ customer[column.field] }}
      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

